<!DOCTYPE html>
<html>
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruits_and_veggies.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="FandV" ng-controller="appCtrl" class="photo">
        <div class="container">
            <h1>Fruit and Veggies</h1>

            <div class="row">
                <div class="col-sm-4">
                    <h2>fruits</h2>
                    <div class="well" ng-repeat="fruit in fruits track by $index" ng-class="{'right':check(fruit, 'fruits')}">

                      {{fruit}}<button ng-click="click('both',$index, 'fruits')">--></button>
                      </div>
</div>
                <div class="col-sm-4">
                    both
                    <div class="well" ng-repeat="thing in both track by $index" >
                    <button ng-click="click('fruits',$index, 'both')"><--</button>{{thing}}<button ng-click="click('vegetables', $index, 'both')">--></button>
                    </div>
</div>
                <div class="col-sm-4">
                    veggies
                    <div class="well" ng-repeat="vegetable in vegetables track by $index" ng-class="{'right':check(vegetable, 'vegetables')}">
                    <button ng-click="click('both', $index, 'vegetables')"><--</button>{{vegetables}}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
